@model Supplier

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Editar Fornecedor</h2>
            <hr />
        </div>
      <div class="mb-3">
            <label asp-for="Name">Nome</label>
            <input asp-for="Name" placeholder="Digite o nome do fornecedor" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FantasyName">Nome Fantasia</label>
            <input asp-for="FantasyName" placeholder="Digite seu nome fantasia do fornecedor" class="form-control" />
            <span asp-validation-for="FantasyName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CNPJ" >CNPJ</label>
            <input asp-for="CNPJ" placeholder="Digite o CNPJ do fornecedor" class="form-control" />
            <span asp-validation-for="CNPJ" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Cep" id="cep">Cep Do Fornecedor</label>
            <input asp-for="Cep"  placeholder="Cep do fornecedor" class="form-control" />
            <span asp-validation-for="Cep" class="text-danger"></span>
        </div>
@*        <div class="mb-3">
            <label asp-for="ProductID">Nome do produto</label>    
            <select class="form-select"  aria-label="Default select example" asp-for="ProductID"  class="form-control">
            <option>Nenhum</option>
            </select>
            <span asp-validation-for="ProductID" class="text-danger"></span>
        </div>*@
        <button type="submit" class="btn btn-primary" style="width:150px">Editar</button>
        <a asp-controller="Supplier" asp-action="Index" class="btn btn-secondary" style="width:150px">Voltar a Lista</a>
    </div>
</form>



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary text-danger">Lista de Produtos</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="SupplierProducts" asp-action="Create" asp-route-SupplierId="@Model.Id" class="btn btn-primary bg-danger">
                <i class="bi bi-plus-circle"></i> &nbsp; Adicionar novo produto.
            </a>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Nome do fornecedor
                </th>
                <th>
                    Nome do Produto
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Preço
                </th>
            </tr>

        </thead>
        <tbody>
             @foreach (var obj in @Model.Supplier_Product){
                <tr>
                    <td width="25%">
                      @obj.supplier.Name
                    </td>
             @*       <td width="13%">
                        @obj.ProductID
                    </td>*@
                    <td width="25%">
                      @obj.product.Name
                    </td>
                    <td width="25%">
                        @obj.Drescription
                    </td>
                    <td width="25%">
                        @obj.Price
                    </td>
                     @*<td>
                        <div class="w-76 btn-group" role="group">
                        <a asp-controller="Supplier_Product" asp-action="Edit" asp-route-id="@ViewBag.Id"
                        class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Editar</a>
                        <a asp-controller="Supplier_Product" asp-action="Delete" asp-route-id="@ViewBag.Id"
                        class="btn btn-danger mx-2" ><i class="bi bi-trash3"></i> Remove</a>
                        </div>
                     </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}