@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary text-danger">Lista de Fornecedores</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Supplier" asp-action="Create" class="btn btn-primary bg-danger">
                <i class="bi bi-plus-circle"></i> &nbsp; Criar Novo Fornecedor
            </a>
        </div>
    </div>
    <br /><br />
 @*   <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    CNPJ
                </th>
                <th>
                    Cep
                </th>
                <th>
                    Data Cadastro
                </th>
                <th>
                    Parâmetros QRCODE
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="10%">
                        @obj.NameSupplier
                    </td>
                    <td width="13%">
                        @obj.CNPJ
                    </td>
                    <td width="20%">
                        @obj.Cep
                    </td>
                    <td width="15%">
                        @obj.DataCadastro
                    </td>
                    <td width="30%">
                        @obj.QrCode
                    </td>
                     <td>
                        <div class="w-76 btn-group" role="group">
                        <a asp-controller="Supplier" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Editar</a>
                        <a asp-controller="Supplier" asp-action="Delete" asp-route-id="@obj.Id"
                        class="btn btn-danger mx-2" ><i class="bi bi-trash3"></i> Remove</a>
                        </div>
                     </td>
                </tr>
            }
        </tbody>
    </table>*@
</div>
